<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html> -->

{% extends "layout.html" %}
{% block content %}
<h1>Hello About</h1>
<img src="static/Apple_new-m1.jpg" alt="">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/admin">Admin</a></li>
<ul>
    {% for item in product %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endblock %}